*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    --primary-color: #2f4f4f;
    --secondary-color: #fff;
}
.title{
    margin: 50px 0px 0px 0px;
    text-align: center;
    padding:25;
    color: var(--secondary-color);
    border-radius: 25px 0 25px 0;
    background-color: var(--primary-color);
    width: 50%;
    margin: auto;
}
.bar{
    border: 3px solid var(--primary-color);
    margin: 70px 40px;
    height: 600px;
    padding: 25px;
}
#barchart{
    margin-top: 40px;
    height: 80%;
}
#barchart div{
    width: 100%;
}

.pie {
    border: 3px solid var(--primary-color);
    margin: 70px 40px;
    padding: 25px;
}
.charts{
    display: flex;
    flex-direction: row;
}

table{
    width: 100%;
}
td {
    width: 50%;
}
.pie_circle{
    margin: auto;
    width: 220px;
    height: 220px;
}
.details-box{
    border: 3px solid var(--primary-color);
    margin: 70px 40px;
    padding: 25px;
    text-align: center;
    border-radius: 75px 0 75px 0;
}
.examName{
    color: var(--primary-color);
    font-size: 40px;
    margin-bottom: 20px;
}
.details{
    padding: 12px;
}
.details span{
    background-color: var(--primary-color);
    padding: 10px;
    border-radius: 5px;
    color: var(--secondary-color);
}
.question h3{
    margin: auto;
    margin-top:30px;
}
.box{
    border: 3px solid var(--primary-color);
    margin: 70px 40px;
    padding: 15px;
    text-align: center;
    width:70%;
}
